@using Microsoft.AspNetCore.Identity
@using SekPharmacy.Models
@inject SignInManager<MedUser> SignInManager
@inject UserManager<MedUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">พนักงาน: @UserManager.GetUserAsync(User).Result.FirstName </a>
            </li>
            <li>
                <a asp-page="/StockManage/Index">รายการยา</a>
            </li>
            <li>
                <a asp-page="/MedCat/Index">ประเภทยา</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">ออกจากระบบ</button>
            </li>
            
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">สมัครสมาชิก</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">ลงชื่อเข้าใช้</a></li>
    </ul>
}
