﻿@page
@model IndexModel
@{
    ViewData["Title"] = "ร้านยาพี่เสก";
}
<style>

</style>

<div class="jumbotron" style="background-color: #40a15a">
    <center>
    <h2 style="color: white;">ยินดีต้อนรับสู่ร้านยาพี่เสก</h2>
    <img src="\images\พี่เสก.jpg" width="20%">
    </center>
</div>
<marquee>พี่เสกฝากบอก: หน้ากากหมดนานแล้วจ้าา...ว่าแต่เชิงเทียนพี่ก็สวยดีเหมือนกัน</marquee>
<h3><u>ยาที่หมดสต๊อกแล้ว</u></h3>
<table class="table" style="width:100%">
           <thead>
              <tr>
                    <th>รูป</th><th>ประเภทยา</th><th>ชื่อยา</th><th>ราคา</th>
             </tr>
           </thead>
          <tbody>
                    @foreach (var Medsitem in Model.Med) {
                        if(Medsitem.Stock == 0){
                          <tr> 
               <td> 
                    <img src="~/images/@Medsitem.MedImage" width="100px" height="100px">
                </td>
                <td> 
                    @Html.DisplayFor(modelItem => Medsitem.MedCat.MedCatName)
                </td>
                <td> 
                    @Html.DisplayFor(modelItem => Medsitem.MedName) 
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => Medsitem.Price)
                </td> 
                
                <td> 
                    <a asp-page="./StockManage/edit" asp-route-id="@Medsitem.MedID">แก้ไข</a>
                </td> 
                
            </tr>
                        }
                    }
             </tbody>
        </table>





<h1><center><u>ยาที่เหลืออยู่</u></center></h1>
@foreach (var item in Model.MedCategory){
    <div class="row">
        <h3><u>@Html.DisplayFor(model=>item.MedCatName)</u></h3>
    </div> 

    <div class="row">
        <table class="table" style="width:100%">
           <thead>
              <tr>
                    <th>รูป</th><th>ชื่อยา</th><th>ราคา</th><th>จำนวนที่เหลือ</th>
             </tr>
           </thead>
          <tbody>
                    @foreach (var Medsitem in Model.Med) {
                        if(Medsitem.MedCatID == item.MedCategoryID && Medsitem.Stock > 0){
                          <tr> 
               <td> 
                    <img src="~/images/@Medsitem.MedImage" width="100px" height="100px">
                </td>
                <td> 
                    @Html.DisplayFor(modelItem => Medsitem.MedName) 
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => Medsitem.Price)
                </td> 
                <td> 
                    @Html.DisplayFor(modelItem => Medsitem.Stock) 
                    @if(Medsitem.Stock< 5 ){ <p><mark>*ยาใกล้หมดแล้ว</mark></p>}
                    
                </td>
                <td> 
                    <a asp-page="./StockManage/edit" asp-route-id="@Medsitem.MedID">แก้ไข</a>
                </td> 
                
            </tr>
                        }
                    }
             </tbody>
        </table>
    </div>
}
