@page
@model SekPharmacy.Pages.StockManage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Med</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Med.MedName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Med.MedName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Med.MedCat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Med.MedCat.MedCategoryID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Med.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Med.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Med.Stock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Med.Stock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Med.MedImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Med.MedImage)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Med.MedID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
