@page
@model SekPharmacy.Pages.StockManage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Med</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Med.MedName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Med.MedName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Med.MedCat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Med.MedCat.MedCategoryID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Med.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Med.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Med.Stock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Med.Stock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Med.MedImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Med.MedImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Med.MedID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
