@page
@model SekPharmacy.Pages.StockManage.EditModel

@{
    ViewData["Title"] = "แก้ไขสต๊อก";
}

<h2>แก้ไข</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Med.MedID" />
            <div class="form-group">
                ชื่อยา
                <input asp-for="Med.MedName" class="form-control" />
                <span asp-validation-for="Med.MedName" class="text-danger"></span>
            </div>
            <div class="form-group">
                ประเภทของยา
                <select asp-for="Med.MedCatID" class="form-control" asp-items="ViewBag.MedCatID"></select>
                <span asp-validation-for="Med.MedCatID" class="text-danger"></span>
            </div>
            <div class="form-group">
                ราคา
                <input asp-for="Med.Price" class="form-control" />
                <span asp-validation-for="Med.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                จำนวนที่เหลือ
                <input asp-for="Med.Stock" class="form-control" />
                <span asp-validation-for="Med.Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                รูป
                <input asp-for="Med.MedImage" class="form-control" />
                <span asp-validation-for="Med.MedImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="บันทึก" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">ย้อนกลับ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
