@page
@model SekPharmacy.Pages.StockManage.IndexModel

@{
    ViewData["Title"] = "รายการยาทั้งหมด";
}

<h2>รายการยาทั้งหมด</h2>

<p>
    <a asp-page="Create">เพิ่มยา</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ชื่อยา
            </th>
            <th>
                ประเภท
            </th>
            <th>
                ราคา
            </th>
            <th>
                จำนวนที่เหลือ
            </th>
            <th>
                รูป
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Med) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedCat.MedCatName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedImage)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MedID">แก้ไข</a> |
                <a asp-page="./Delete" asp-route-id="@item.MedID">ลบ</a>
            </td>
        </tr>
}
    </tbody>
</table>
