@page
@model SekPharmacy.Pages.MedCat.CreateModel

@{
    ViewData["Title"] = "จัดการประเภทยา";
}

<h2>เพิ่มประเภทยา</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                ใส่ชื่อประเภทของยา
                <input asp-for="MedCategory.MedCatName" class="form-control" />
                <span asp-validation-for="MedCategory.MedCatName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="เพิ่ม" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">ย้อนกลับ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
