@page
@model SekPharmacy.Pages.MedCat.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MedCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MedCategory.MedCatName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MedCategory.MedCatName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MedCategory.MedCategoryID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
