@page
@model SekPharmacy.Pages.MedCat.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>แก้ไขประเภทยา</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MedCategory.MedCategoryID" />
            <div class="form-group">
                ใส่ชื่อประเภทยาที่ต้องการแก้ไข
                <input asp-for="MedCategory.MedCatName" class="form-control" />
                <span asp-validation-for="MedCategory.MedCatName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="บันทึก" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">ย้อนกลับ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
