@page
@model SekPharmacy.Pages.MedCat.IndexModel

@{
    ViewData["Title"] = "จัดการประเภทยา";
}

<h2>จัดการประเภทยา</h2>

<p>
    <a asp-page="Create">เพิ่มประเภทยา</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ประเภทยา
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MedCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedCatName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MedCategoryID">แก้ไข</a> |
                <a asp-page="./Delete" asp-route-id="@item.MedCategoryID">ลบ</a>
            </td>
        </tr>
}
    </tbody>
</table>
